<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<h2> Welcome to management</h2>

  <a title="Add classification" href="add-classification">Click here to add a classification</a>
  <a title="Add to inventory" href="add-inventory">Click here to add to inventory</a>

<h2> Manage Inventory</h2>
<p>Please select a classification from the list to see the items belonging to that classification</p>
    <label for="classificationList">Classification</label>
    <%- classificationSelect %>

    <table id="inventoryTable"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
    <script src="../../js/inventory.js"></script>