<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<h2> Welcome to management</h2>

  <a title="Add classification" href="add-classification">Click here to add a classification</a>
  <a title="Add to inventory" href="add-inventory">Click here to add to inventory</a>